<div class="mainclass">
<h1>{{name}}</h1>
</div>
<p class="thirdClass">just to test css class="thirdClass"</p>
<h2 (click)="clickAge()">{{age}}</h2>

<input #newTitle>
<input #newplace>
<input type="submit" value="add" (click)="addJob(newTitle.value,newplace.value)">

<ul class="secondClass" *ngFor="#job of jobs">
<li>
	title:{{job.title}}
place:{{job.place}}
</li>

</ul>
<hr>
<p>{{name}}</p>
<input [value]="name">
<hr>
<p>{{name}}</p>
<input [(ngModel)]="name">
<hr>
<ul *ngFor="#skill of skills">
<li>
<my-skill [skillTitle]="skill.title" [skillName]="skill.name" ></my-skill>
</li>
</ul>

